{% extends "app/layout.html" %}

{% block content %}


{% if alg.0 %}
<h2> Algorytm regulowy </h2>
<h3> Lista proponowanych przedmiotow: </h3>
<ol>
    {% for name,url in recomSub1 %}
    <li>
        <h4> {{ name }}
            <h4>
                <h5>
                    <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ url }}">
                        Strona przedmiotu </a></h5>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% if alg.1 %}
<h2> Najlatwiejsze przedmioty </h2>
<h3> Lista proponowanych przedmiotow: </h3>
<ol>
    {% for name,url in recomSub2 %}
    <li>
        <h4> {{ name }}
            <h4>
                <h5>
                    <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ url }}">
                        Strona przedmiotu </a></h5>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% if alg.2 %}
<h2> Szczesliwy traf </h2>
<h3> Lista proponowanych przedmiotow: </h3>
<ol>
    {% for name,url in recomSub3 %}
    <li>
        <h4> {{ name }}
            <h4>
                <h5>
                    <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ url }}">
                        Strona przedmiotu </a></h5>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% if alg.3 %}
<h2> Strategia najblizszych sasiadow </h2>
<h3> Lista proponowanych przedmiotow: </h3>
<ol>
    {% for name,url in recomSub4 %}
    <li>
        <h4> {{ name }}
            <h4>
                <h5>
                    <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ url }}">
                        Strona przedmiotu </a></h5>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% if sem %}
<h2> Proponowane seminaria</h2>

{% if recomSem.0 %}
<h3>Seminarium rekomendowane wg algorytmu lasów losowych </h3>
<ul>
    <h4>{{ recomSem.0.0 }}</h4>
    <h5>
        <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ recomSem.0.1  }}">
            Strona przedmiotu </a></h5>
</ul>
{% endif %}

{% if recomSem.1 %}
<h3>Seminarium rekomendowane wg strategii najbliższych sąsiadów </h3>
<ul>
    <h4>{{ recomSem.1.0 }}</h4>
    <h5>
        <a href="https://usosweb.mimuw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod={{ recomSem.1.1 }}">
            Strona przedmiotu </a></h5>
</ul>
{% endif %}

{% endif %}

{% endblock %}
