{% extends "app/layout.html" %}
{% load staticfiles %}
{%block home%}active{%endblock%}
{% block content %}

		<div id="adbox" style="padding-top: 0px;">
			<div class="clearfix">
				<img src="{% static 'app/media/hermes-foot.png' %}" alt="Img" height="229" width="356" style="margin: 40px;">
				<div class="detail" style="width: 500px;">
					<h1>ZPP Hermes<br>
                        System wspomagający studentów</h1>
					<p>
						w wyborze ścieżki studiów
					</p>
				</div>
			</div>
		</div>

<!--<div class="jumbotron">-->
    <!--<h1>Hermes</h1>-->

    <!--<h2>{{ test }}</h2>-->

    <!--<p class="lead">Zapraszamy do skorzystania z systemu wspomagającego wybór przedmiotów w czasie rekrutacji.</p>-->

    <!--<p><a href="{% url 'app:grades' %}" class="btn btn-primary btn-large">Wprowadź oceny &raquo;</a></p>-->

    <!--<p><a href="{% url 'app:gradesDynamic' %}" class="btn btn-primary btn-large">Oceny test &raquo;</a></p>-->
<!--</div>-->


{% endblock %}
