{% extends "app/layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="{% url 'app:register' %}" method="post" class="form-horizontal">
                <h4>Rejestracja.</h4>
                <hr/>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="col-md-2 control-label">{{ field.label_tag }}</label>

                    <div class="col-md-10">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Register" class="btn btn-default"/>
            </form>
        </section>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}